@model IEnumerable<Domain.Orders.OrderEditType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderEditTypeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderEditTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderEditTypeActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderEditTypeValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderEditTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderEditTypeActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderEditTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderEditTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderEditTypeId })
        </td>
    </tr>
}

</table>
