@model IEnumerable<Domain.Users.UserEditType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserEditTypeValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEditTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEditTypeActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserEditTypeValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEditTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEditTypeActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserEditTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserEditTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserEditTypeId })
        </td>
    </tr>
}

</table>
